<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="pokerpalooza-db" connectionString="Server=(LocalDB)\MSSQLLocalDB;Integrated Security=true"/>-->
    <add name="pokerpalooza-db" connectionString="Server=SEAD-9VYSR22-X2;Database=PokerPalooza;Integrated Security=true"/>
  </connectionStrings>
</configuration>