<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- <add name="pokerpalooza-db" connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=PokerPalooza;Integrated Security=true"/> -->
    <add name="pokerpalooza-db" connectionString="Server=.\SQLExpress;Database=PokerPalooza;Integrated Security=true"/>
  </connectionStrings>
</configuration>